{% load static %}
<div class="info-block" id="Block6">
    <h2>ОТЗЫВЫ</h2>
    <div class="reviews">
        <div class="reviews-row">
            
            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review1.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">Екатерина</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Спасибо за новое украшение!<br/>Ношу его везде</span>
                </div>
            </div>

            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review2.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">София Калугина</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Быстрый, качественный ремонт ювелирных изделий!<br/>Всегда аккуратно, без следа поломки.</span>
                </div>
            </div>

            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review3.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">Ева Переносова</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Порвался браслет и одно звено потерялось.<br/>Мастер отремонтировал браслет качественно и быстро.</span>
                </div>
            </div>

        </div>

        <div class="reviews-row">
            
            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review4.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">Мария</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Только положительные впечатления. Необходимо было вставить новые камни в кольцо. Быстро и качественно.</span>
                </div>
            </div>

            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review5.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">Полина Г.</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Работа выполнена прекрасно и по хорошей цене. Рекомендую!</span>
                </div>
            </div>

            <div class="review">
                <div class="review-image">
                    <img src="{% static 'main/img/reviews/review3.png' %}" alt="">
                </div>
                <div class="review-owner">
                    <div class="review-owner-name">
                        <span class="name">Людмила Зохова</span>
                        <span class="date">20.10.2025</span>
                    </div>
                    <div class="review-stars">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                        <img src="{% static 'main/icons/review-star.svg' %}" alt="">
                    </div>
                </div>
                <div class="review-text">
                    <span>Замечательная мастерская, отреставрировали мою брошь быстро и качественно.</span>
                </div>
            </div>

        </div>
    </div>
    <a
        class="reviews-all-btn"
        href="https://yandex.com/maps/org/dom_byta/176499320437/?ll=30.363140%2C59.935257&mode=search&sctx=ZAAAAAgBEAAaKAoSCU6c3O9QYD5AEbWmeccp%2BE1AEhIJDJQUWABTlj8RFlCop4%2FAfz8iBgABAgMEBSgKOABA6K4HSAFqAnVhnQHNzMw9oAEAqAEAvQHfvbvHwgEG9cy3wZEFggIp0KHRg9Cy0L7RgNC%2B0LLRgdC60LjQuSAzNSDQtNC%2B0Lwg0LHRi9GC0LCKAgCSAgEymgIMZGVza3RvcC1tYXBzqgI%2FNzQxMjY5Njc2NDIsMjIzMDgyOTk0OTEsNjAwMzYxMiw4OTQyNDA3NTYyMyw5Mzc2NDU4NzQ5Myw2MDAzMzc1sAIB&sll=30.363140%2C59.935257&sspn=0.043602%2C0.015506&text=%D0%A1%D1%83%D0%B2%D0%BE%D1%80%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%2035%20%D0%B4%D0%BE%D0%BC%20%D0%B1%D1%8B%D1%82%D0%B0&z=15"
        target="_blank"
        rel="noopener noreferrer"
    >все отзывы</a>
</div>
